*{
	margin: 0;
	padding: 0;
	font-family:Century Gothic;
  
}

header{
	background-image:  url(food.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top:25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color:#fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color:  #fff;
	color:#000;
}
ul li.active a{
	background-color:  #fff;
	color:#000;
}
.logo img{
	float:left;
	width:160px;
	height: auto;
  position: inline-block;
  
}
main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 70px;
}
.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid rgba(255, 255, 255, 0.151);
	padding: 10px 30px;
	color: rgba(255, 255, 255, 0.151);
	text-decoration: none;
}
.hello{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
  
}
.btn{
	border: 1px solid rgba(255, 255, 255, 0.986);
	padding: 20px 30px;
  font-size: 15px;
	color: black;
	text-decoration: none;
  background-color: blanchedalmond;
}
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
  position: inline-block;
  right: 50%;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:15px;
  margin-bottom:0;
  position: relative;
  right: 80%;
}


.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}